.input {
    width: 50%;
    margin: 0 auto;
  
    /* Medium screens and up */
    @media (min-width: 768px) {
      width: 50%;
    }
  
    /* Large screens and up */
    @media (min-width: 1024px) {
      width: 50%;
    }
  }
  