.input {
    width: 50%;
    margin: 0 auto;
  
    /* Medium screens and up */
    @media (min-width: 768px) {
      width: 50%;
    }
  
    /* Large screens and up */
    @media (min-width: 1024px) {
      width: 50%;
    }
  }

  /* should find better solution for this hover style */
  .listButton {
    --ai-hover: 'transparent' !important;
  }
  